<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="static/inicio_sesion_res/styles.css">
    <link href="{{ url_for('static', filename='inicio_sesion_res/logo.jpg')}}" rel="icon">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="static/inicio_sesion_res/logo.jpg" alt="Logo">
        </div>
        <h2>Inicio de sesión</h2>
        <p>Inicia sesión una cuenta proporcionada</p>
        <form action="/login" method="POST">

            {{ form.hidden_tag() }}
            <label for="user">Usuario</label>
            {{ form.username }}

            <label for="password">Contraseña</label>
            {{ form.password }}

            {{ form.submit(class="login-btn") }}

        </form>
        
    </div>
</body>
</html>