<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="static/registro_res/styles.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="static/registro_res/logo.jpg" alt="Logo">
        </div>
        <h2>Registro</h2>
        <p>!Créa una nueva cuenta!</p>
        <form action="{{ url_for('registro') }}" method="POST">
            {{ form.hidden_tag() }}
            <label for="username">Usuario</label>
            {{ form.username(class="form-control") }}

            <label for="email">Email</label>
            {{ form.email(class="form-control") }}

            <label for="password">Contraseña</label>
            {{ form.password(class="form-control") }}

            <label for="rol">Rol</label>
            {{ form.rol(class="form-select") }}

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    {% if users %}
    <div class="users-container">
        {% for user in users %}
        <div style="display: flex; gap: 10px; background-color: #373737; padding: 10px; justify-content: space-between;" >
            <div>
                <img src="static/img/{{ user.useravatar }}" srcset="static/img/alt-user.webp" style="width: 10vh; height: auto; vertical-align: middle;">
            </div>
            <div style="display: flex;">
                <div style="align-self: center; display: flex; flex-direction: column;">

                    <div>{{ user.username }}</div>
                    <div>{{ user.userclass }}</div>
                
                </div>
                
            </div>
            <div>
                <form action="{{ url_for('borrar_usuario', user_id=user.IDuser) }}" method="post" style="display: inline;">
                    <input style="height: 100%; background-color: #ff3939;" class="btn btn-primary btn-sm" style="--bs-btn-line-height: 0.7;" type="submit" value="X" onclick="return confirm('¿Estás seguro de eliminar este usuario?')">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>