* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration-line: none;
}

body {
    background-color: #f0f0f0;
    padding: 20px;
}


/* iconos estilos */
.grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 20px;
}

.grid-item {
    text-align: -webkit-center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img{
    max-width: 100%;
    height: auto;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon i {
    font-size: 30px;
    color: #333;
}

.grid-item p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

