
/* Topbar estilos */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

.left-section {
    font-size: 24px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section i {
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
}

.notification {
    background-color: #00ff00;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 8px;
    margin-right: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.user-info span {
    margin-right: 10px;
    font-size: 16px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}