<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localizaciones</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='inicio_sesion_res/logo.jpg')}}" rel="icon">
    <style>
        * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration-line: none !important;
}


body {
    background-color: #f0f0f0;
    padding: 20px;
}


/* iconos estilos */
.grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 20px;
}

.grid-item {
    text-align: -webkit-center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-break: anywhere;
    align-content: end;
}

.grid-item img{
    max-width: 100%;
    height: auto;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon i {
    font-size: 30px;
    color: #333;
}

.grid-item p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}


    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <!-- Topbar -->
    <header class="topbar">
        <div class="left-section">
            <a href="/inicio">
            <i class="fa-solid fa-arrow-left" style="color: #fff;"></i>
            </a>
            <a href="/inventario">
                <i class="fa-solid fa-boxes" style="color: #fff;"></i>
            </a>
            <a href="/orders">
                <i class="fa-solid fa-box" style="color: #fff;"></i>
            </a>
        </div>
        <div class="right-section">

            <div class="user-info">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-user-tie" style="color: #fff;"></i>
                <img src="static/img/{{ current_user.useravatar }}" onerror="this.src='static/img/alt-user.webp'" alt="Avatar" class="user-avatar">
            </div>
        </div>
    </header>
    <!-- Topbar -->

    {% if current_user.userclass=='ADMIN' %}
    <div class="grid-item">
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#uploadLocationModal">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
            </div>
        </button>
    </div>


    <!-- Modal para subir elemento -->
    <div class="modal fade" id="uploadLocationModal" tabindex="-1" aria-labelledby="uploadLocationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadLocationLabel">Subir Nuevo Elemento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="locationName" class="form-label">Nombre</label>
                        <input type="text" id="locationName" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="locationFloor" class="form-label">planta</label>
                        <input type="text" id="locationFloor" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="locationDescription" class="form-label">Descripción</label>
                        <textarea id="locationDescription" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="locationImage" class="form-label">Subir Imagen</label>
                        <input type="file" id="locationImage" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="uploadLocation()">Subir Elemento</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="grid-container">


        {% if locations %}
            {% for location in locations %}
                <div class="grid-item">

                    <img src="static/uploads/{{ location.img }}" alt="{{ location.name }}" onerror="this.src='static/img/building.png'">

                    <p>{{ location.name }}</p>
                    <p>{{ location.planta }}</p>
                    <p>{{ location.descrip }}</p>
                    <div>
                        <form action="{{ url_for('borrar_location', id=location.id) }}" method="post" style="display: inline;">
                            <input class="btn btn-primary btn-sm" style="--bs-btn-line-height: 0.7;" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar esto?')">
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <!-- Añadir más elementos según sea necesario -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function uploadLocation() {
        const locationName = document.getElementById('locationName').value;
        const locationFloor = document.getElementById('locationFloor').value;
        const locationDescription = document.getElementById('locationDescription').value;
        const locationImage = document.getElementById('locationImage').files[0];  // Archivo de imagen
        
        
        // Verificar que los campos obligatorios no estén vacíos
        if (!locationName || !locationFloor) {
            alert('Por favor, completa todos los campos obligatorios.');
            return;
        }

        // Crear un FormData para enviar datos con archivos
        let formData = new FormData();
        formData.append('name', locationName);
        formData.append('floor', locationFloor);
        formData.append('description', locationDescription);
        formData.append('image', locationImage);  // Archivo de imagen

        try {
            const response = await fetch('/add_location', {
                method: 'POST',
                body: formData  // Enviar FormData
            });

            const result = await response.json();  // Parsear la respuesta JSON

            if (response.ok) {
                alert(result.message);  // Mostrar mensaje de éxito
                location.reload();  // Opcional: recargar la página para ver el nuevo elemento
            } else {
                alert(result.message);  // Mostrar mensaje de error si algo falla
            }
        } catch (error) {
            console.error('Error al subir la localizacion:', error);
            alert('Ocurrió un error.');
        }
    }
    </script>
</body>
</html>